@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --fonte1: verdana,Geneva, tahoma, sans-serif;

    --fonte2: "Passion One",cursive ,sans-serif;
}



* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte1);
   
}

header {
    background-color: black;
    color: aliceblue;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
   
}

a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section > p {
    padding-bottom: 2em;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
}

section.normal {
    background-color: aliceblue;
    color: black;
}

section.imagem {
    background-color: rgb(41, 40, 40);
    color: aliceblue;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.651);
}

section.imagem > p {
   display: inline-block;
   padding: 5px;
    background-color: rgba(0, 0, 0, 0.397);
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}







footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}